<div class="container mx-auto space-y-3 flex flex-col">
    <p-button [label]="'Click me'" [severity]="'primary'" />
    @if (catalogResource.isLoading()) {
        <p-progress-spinner ariaLabel="Loading..." />
    }
    @if (catalogResource.hasValue()) {
        <div class="grid grid-cols-4 gap-4">
            @for (item of catalogResource.value(); track item.course_id) {
                <p-card class="overflow-hidden">
                    <ng-template #title>
                        <h5 class="text-sm font-black">{{item.name}}</h5>
                    </ng-template>
                    <ng-template #subtitle>
                        <p>{{ item.course_id }}</p>
                    </ng-template>
                </p-card>
            }
        </div>
    }
<!--    <pre>{{ catalogResource.value() | json }}</pre>-->
</div>

<!--<acad-enroll-nx-welcome></acad-enroll-nx-welcome>-->
<router-outlet></router-outlet>
